#PopupCart{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    z-index: 250;
    display: flex;
    font-size: 17px;

}
#PopupCart h1{
    font-size: 22px;
}
#HeadPopup{
    width: 100%;
    height: 50px;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
}
.back{
    background-color: #fff;
    width: 90%;
}
.bodyPopup{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.btn_closePopup{
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    border: none;
    margin-left: 50px;
    background: none;
}


.container-products{
    display: flex;
    width: 90%;
    flex-direction: row;
}
.container-products img{
    width: 50px;
    height: 50px;
}
.container-products h4{
    font-size: 17px;
}

.container-products input{
    max-width: 50px;
    border: none;
}
.cont-espe{
    display: flex;
    flex-direction: row;
}
.container-products input[type=number]{
    width: 20px;
    
}
.container-products input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;

}

.container-products button{
    border: none;
}