.ImgPerfil{
    width: 5rem;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 23%;
    left: 0;
}
.cont-img-portada{
    padding: 0;
    overflow: hidden;
}

.main{
    width: 100%;

}